@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* component tailwind */
@layer components {
  .card{
    @apply rounded-3xl px-7 py-5;
  }

  .card.card-glass{
    background: rgba(255, 255, 255, 0.17);
    border: 1px solid #1C455B;
    backdrop-filter: blur(60px);
  }

  .badge{
    @apply flex justify-center py-1 px-3 rounded-2xl text-sm;
  }

  .badge.badge-gradient{
    background: linear-gradient(90deg, #1C455B 0%, #3F3F40 100%);
    @apply text-white;
  }
}

